.App {
  text-align: center;
}

.nav-link {
  text-decoration: none;
}

.container-fluid ul {
  list-style: none;
}
.card{
  background-color: rgb(58, 7, 106);
  color: aliceblue;
}

.alt{ 
   text-align: center;
   color: #ef1818;   
}

